{% extends "layout.html" %}
{% block body %}
{% if error %}
<div>{{error}}</div>
{% endif %}
<form action="/register" method="post">
    <div class="form-group">
        <label for="username">UserName</label>
        <input type="text" class="form-control" id="username" placeholder="UserName" name="name">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="Enter email" name="email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
    </div>
    <div class="form-group">
    <label for="exampleFormControlFile1">Image path</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image_path">
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

