{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="flexbox">
        <h1>
            <img class="img" src="{{ work[0].image_path }}" width="64" height="64"><span style="vertical-align: middle;">{{ work[0].title }}</span>
        </h1>
    </div>
    <table class="table">
        <tr>
            <th>放送年</th>
            <th>放送クール</th>
            <th>簡略タイトル１</th>
            <th>簡略タイトル２</th>
            <th>簡略タイトル３</th>
            <th>公式サイト</th>
            <th>作品一覧</th>
        </tr>
        <tr>
            <td>
                {{ work[0].year }}年
            </td>
            <td>
                {% if work[0].cours == 1 %}
                冬
                {% endif %}
                {% if work[0].cours == 2 %}
                春
                {% endif %}
                {% if work[0].cours == 3 %}
                夏
                {% endif %}
                {% if work[0].cours == 4 %}
                秋
                {% endif %}
                クール
            </td>
            <td>
                {{ work[0].title_short1 }}
            </td>
            <td>{{ work[0].title_short2 }}
            </td>
            <td>{{ work[0].title_short3 }}
            </td>
            <td>
                <a href="{{ work[0].public_url }}">公式サイト</a>
            </td>
            <td>
                <a href="{{ url_for('work.render_works') }}">作品一覧</a>
            </td>
        </tr>
    </table>
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <form action="{{ url_for('work.post_review', id=work[0].id) }}" method="post">
            <div class="input-group">
                <span class="input-group-addon">レビュー</span>
                <input type="text" name="text" class="form-control" required>
                <span class="input-group-btn">
                    <button class="btn btn-default">送信</button>
                </span>
            </div>
        </form>
      </div>
      <div class="col-xs-12 col-md-4">
        <form method="post">
            <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group">
                    <button class="btn btn-success " >
                        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button class="btn btn-success " >
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button class="btn btn-success " >
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </form>
        </div>
    </div>
    <div style="">
        {% for review in reviews %}
        <a href="{{ url_for('user.detail', id=review.user_id) }}" class="review">
            {{ review.text }}
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
