{% extends "layout.html" %}
{% block body %}
<div class="container">
    <img class="img" src="{{ work.image_path }}" width="64" height="64">
    {{ work.itle }}
    {{ work.year }}年
    {% if work.cours == 1 %}
    冬
    {% endif %}
    {% if work.cours == 2 %}
    春
    {% endif %}
    {% if work.cours == 3 %}
    夏
    {% endif %}
    {% if work.cours == 4 %}
    秋
    {% endif %}
    クール
    {{ work.title_short1 }}／{{ work.title_short2 }}／{{ work.title_short3 }}
    <a href="{{ work.public_url }}">公式サイト</a>
    <a href="{{ work.index }}">作品一覧</a>
    <form method="post">
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-success " >
                    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-success " >
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-success " >
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </form>
    {% for review in reviews %}
        <!-- <a href=""> -->
            {{ review.text }}
        <!-- </a> -->
    {% endfor %}
    <form action="{{ url_for('work.post_review', id=work[0].id) }}" method="post">
        <div class="input-group">
            <span class="input-group-addon">レビュー</span>
            <input type="text" name="text" class="form-control" required>
            <span class="input-group-btn">
                <button class="btn btn-default">送信</button>
            </span>
        </div>
    </form>
</div>
{% endblock %}
